.navbar {
    background-color: #3AA34650;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed */
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar-logo {
    font-family: 'Raleway', serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: red;
    margin: 0 auto;
}