.footer {
    background-color: #81A4CD50;
    color: white;
    text-align: right;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .instagram-logo img {
    width: 20px; /* Adjust the width of the Instagram logo */
    height: 20px; /* Adjust the height of the Instagram logo */
  }

  .insta-text {
    font-family: 'Jost', serif;
    margin-left: 5px;
    margin-right: 10px;
  }
  