.background_t {
  background: url("/public/images/bg_bggenerator_com5.png") no-repeat fixed center/cover;
  
  .timeline {
    backdrop-filter: blur(5px); /* Apply blur effect */
    padding-top: 56px;
    height: 100%;
    font-family: 'Jost', serif;
    text-align: center;

    .one_image {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .two_images {
      margin-top: 10px;
      margin-bottom: 10px;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 50%;
    }
  }
}