.background-t {
    background: url("/public/images/bg_bggenerator_com2.png") no-repeat fixed center/cover;
    
    .timeline {
        backdrop-filter: blur(5px); /* Apply blur effect */
        padding-top: 56px;
        height: 100vh;
        font-family: 'Jost', serif;
    }
}