.HomePage {
    text-align: center;
  }

  h1 {
    font-family: 'Raleway', serif;
    font-size: 75px;
  }

  .background {
    background: url("/public/images/20230408_232501.jpg") center/cover no-repeat; 
  }
  
  .header {
    /* background-color: #81A4CD; */
    backdrop-filter: blur(5px); /* Apply blur effect */
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  
  .link {
    color: #61dafb;
  }
  